<div class="card-form">
<h1>Treat yourself to a nice tasty bookmark.</h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie, collection: Movie.all, prompt: "Choose a movie" %>
  <%= f.input :comment %>
  <%= f.submit "Submit Bookmark", class: 'btn btn-secondary btn-lg' %>
<% end %>
</div>
