.bg {
  height: 100svh;
  background-image: url(https://cdn.hero.page/wallpapers/4f177de3-c7d8-41fe-a3f4-623c1419ad78-cosmic-nebula-galaxy-artwork-wallpaper-1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cover {
  text-align: center;
  padding: 2rem
}

.container-box {
  width: fit-content;
  margin: auto;
  box-sizing: content-box;
  background-color: pink;
  padding: 20px;
  box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, 5px 5px 15px 5px rgba(0,0,0,0);
}
