.footer {
  background: rgba(225, 0, 255, 0.13);
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100px;
  padding: 0px 50px;
  position: fixed;
  height: 50px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin-bottom: 0px;
  font-family: 'Bebas Neue', sans-serif;
  color: black;
}
.footer-links {
  display: flex;
  align-items: center;
}
.footer-links a {
  color: black;
  opacity: 0.15;
  text-decoration: none;
  font-size: 24px;
  padding: 0px 10px;
}
.footer-links a:hover {
  opacity: 1;
}
.footer .fa-heart {
  color: #D23333;
}

// #footer {
//   position: fixed;
//   height: 50px;
//   background-color: red;
//   bottom: 0px;
//   left: 0px;
//   right: 0px;
//   margin-bottom: 0px;
// }
