h1,h2,h3 {
  font-family: 'Bebas Neue', sans-serif;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

h2 {
  font-weight: bolder;
  color: white;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}

.bookmark-text {
  color: white;
  font-size: x-large;
  padding: 20px;
}

ul {
  list-style-type: none;
}
